header{
    width: 100%;
    height: 100px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.menu__top {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    width: 1400px;
    margin: auto;
    font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.menu__top__left > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.menu__top__left > ul > li {
    align-self: center;
    padding: 1rem 0 1rem 0;
    margin-right: 2.9rem;
}
.menu__top__left > ul > li .material-symbols-outlined  {
    transform: rotateZ(90deg);
    font-size: 20px;
    font-weight: 700;
    height: 19px;
    width: 19px;
}
.menu__top__right > ul{
    display: flex;
    width: 100%;
    height: 96px;
    justify-content: space-around;
}
.menu__top__right > ul > li {
    align-self: center;   
}
.menu__top__right > ul > li .material-symbols-outlined  {
    font-size: 20px;
    font-weight: 700;
    height: 19px;
    width: 19px;
    border-right: 1px solid black;
    padding-right: 50px;
    margin-right: 50px;
}
.hulu__link{
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: 2px;
    background-color: #f4f4f4;
    border: 2px solid transparent;
}
.hulu__link > a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #636363;
    text-decoration: none;
}
.hulu__logo{
    width: 33px;
    margin-left: 5px;
}
.hulu__link:hover{
    cursor: pointer;
    border: 2px solid #cecfcf;  
}
.hulu__link > a:hover{
    cursor: pointer;
    color: #002d6c; 
}
.menu__bottom{
    width: 1400px;
    margin: auto;
}
.menu__bottom > ul {
    display: flex;
    justify-content: flex-start;
}
footer{
    width: 100%;
    height: 100px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.footer__top {
    list-style-type: none;
    display: flex;
    width: 1400px;
    margin: auto;
    font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.footer__top__logo {
    display: left;
    width: 100%;
    justify-content: space-around;
}
.footer__top__returnTop {
    align-self: right;
    padding: 1rem 0 1rem 0;
    margin-right: 2.9rem;
}
.footer__middle {
    transform: rotateZ(90deg);
    font-size: 20px;
    font-weight: 700;
    height: 19px;
    width: 19px;
}
.footer__middle__allArray {
    display: flex;
    width: 100%;
    height: 96px;
    justify-content: space-around;
}
.footer__middle__headingArray {
    align-self: center;  
}
.footer__middle__bodyArray {
    font-size: 20px;
    font-weight: 700;
    height: 19px;
    width: 19px;
    border-right: 1px solid black;
    padding-right: 50px;
    margin-right: 50px;
}
.footer__bottom {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: 2px;
    background-color: #f4f4f4;
    border: 2px solid transparent;
}
.footer__bottom__copyright__left {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #636363;
    text-decoration: none;
}
.footer__bottom__copyright__right {
    width: 33px;
    margin-left: 5px;
}