body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*********************************************************************
HEADER
**********************************************************************/
header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
}

.menu__top {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin-left: 251.5px;
    font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    height: 72px;
}

.menu__top__left>ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.menu__top__left>ul>li {
    align-self: center;
    padding: 1rem 0 1rem 0;
    margin-right: 2.9rem;
}

.menu__top__left>ul>li>img {
    height: 46px;
}

.menu__top__left>ul>li .material-symbols-outlined {
    transform: rotateZ(90deg);
    font-size: 20px;
    font-weight: 700;
    height: 19px;
    width: 19px;
}

.menu__top__right>ul {
    display: flex;
    width: 100%;
    height: 96px;
    justify-content: space-around;
}

.menu__top__right>ul>li {
    align-self: center;
}

.menu__top__right>ul>li .material-symbols-outlined {
    font-size: 20px;
    font-weight: 700;
    height: 19px;
    width: 19px;
    border-right: 1px solid black;
    padding-right: 50px;
    margin-right: 50px;
}

.hulu__link {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: 2px;
    background-color: #f4f4f4;
    border: 2px solid transparent;
}

.hulu__link>a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #636363;
    text-decoration: none;
}

.hulu__logo {
    width: 33px;
    margin-left: 5px;
}

.hulu__link:hover {
    cursor: pointer;
    border: 2px solid #cecfcf;
}

.hulu__link>a:hover {
    cursor: pointer;
    color: #002d6c;
}

.menu__bottom {
    width: 100%;
    border-bottom: 1px solid #cecfcf;
    border-top: 1px solid #cecfcf;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, .1);
}

.test {
    width: 1400px;
    margin: auto;
}

.test>ul {
    display: flex;
    justify-content: flex-start;
}

.test>ul>li {
    margin-right: 40px;
    height: 24px;
    padding: 12px 0px 12px 0px;
    color: #000;
    font-family: Post-Grotesk, sans-serif, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.9;
}

/*********************************************************************
MAIN
FIRST BANDEAU
**********************************************************************/
main {
    position: relative;
    top: 100px;
    margin-left: 251.5px;
    margin-right: 251.5px;
}

.first__bandeau {
    flex: auto;
    display: flex;
    max-width: 1400px;
    padding: 20px 10px 0;
}

.textBlock {
    padding: 0 2em 0 0;
    border-right: 1px solid #dcdddf;
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.textBlock>ul>li {
    border-top: 1px dotted #dcdddf;
    padding: 10px 0;
}

.textBlock>ul>li>h2>a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    line-height: 19px;
    overflow: hidden;
    font-family: TiemposHeadline, Georgia, Times New Roman, Times, serif;
}

.textBlock>ul>li>h2>a:hover {
    text-decoration: underline;
}

.secondBlock {
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.secondBlock__picture {
    position: relative;
}

.secondBlock__picture>img {
    height: 299.25px;
}

.credit {
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    color: #fff;
    font-size: 8px;
    line-height: 1.25;
    opacity: .6;
    padding: 1px 2px 0;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 50;
    bottom: 0px;
}

.news__title {
    color: #000;
    font-family: TiemposHeadline, Georgia, Times New Roman, Times, serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 11px;
}

.news__text {
    display: flex;
    flex-direction: column;
    height: 56px;
    color: #717171;
    font-size: 14px;
    height: auto;
}

.news__subtitle,
.news__published {
    height: 19px;
    padding-bottom: 10px;
}

.news__links {
    height: 68px;
    line-height: 18px;
}

.news__links>li {
    padding-bottom: 15px;
}

.news__links>li>a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.news__links>li>a:hover {
    text-decoration: underline;
}

.thirdBlock {
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.thirdBlock__top__picture>img {
    width: 420px;
    height: 236px;
    margin-bottom: 8px;
}

.thirdBlock__top__news {
    display: flex;
    color: #0c1d4a;
    font-family: TiemposHeadline, Georgia, Times New Roman, Times, serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 10px;
}

.thirdBlock__top__news>img {
    width: 94px;
    height: 14px;
    border-right: 2px solid #0c1d4a;
    margin-right: 5px;
    padding-right: 5px;
}

.thirdBlock__top__live>h2 {
    color: #e61812;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    padding-bottom: 5px;
}

.thirdBlock__top__live>p {
    color: #002d6c;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 21px;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

.thirdBlock__top__date {
    border-bottom: 1px solid #e5e5e5;
    max-width: 100%;
    padding-bottom: 10px;
}

.thirdBlock__top__date>h3 {
    color: #656565;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    padding-bottom: 1px;
}

.thirdBlock__top__date>p {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    height: 19px;
    letter-spacing: 0;
    width: 292px;
}

.thirdBlock__bottom {
    color: #656565;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}

.thirdBlock__bottom>h1 {
    color: #000;
    font-family: TiemposHeadline, Georgia, Times New Roman, Times, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 8px;
}

.thirdBlock__bottom>a>h1:hover {
    text-decoration: underline;
}

.thirdBlock__bottom__news {
    display: flex;
}

.thirdBlock__bottom__news>p {
    color: #656565;
    font-size: 14px;
    line-height: 17px;
}

.thirdBlock__bottom__news>img {
    width: 130px;
    height: 73px;
}

.thirdBlock__bottom:hover>h1 {
    text-decoration: underline;
}

.thirdBlock__bottom__timeAgo {
    margin-top: 8px;
}

/*********************************************************************
MAIN
SECOND BANDEAU
**********************************************************************/
.second__bandeau {
    flex: auto;
    display: flex;
    max-width: 1400px;
    padding: 20px 10px 0;
}

.second__bandeau__firstBlock {
    border-right: 1px solid #e5e5e5;
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.second__bandeau__firstBlock>h1 {
    border-bottom: 0;
    border-top: 1px solid #ccc;
    padding: 20px 0 2 5px;
    color: #656565;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.second__bandeau__firstBlock__video {
    position: relative;
}

.second__bandeau__firstBlock__video>img {
    width: 438px;
    height: 246px;
}

.second__bandeau__firstBlock__video__playButton {
    display: flex;
    padding: 2px 10px;
    font-size: 14px;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 1px 1px #222;
    margin: 20px 20px 0px 20px;
    width: 45px;
    height: 24px;
}

.second__bandeau__firstBlock__video__playButton>p {
    margin-left: 7px;
}

.second__bandeau__firstBlock__video__infos {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .9));
    color: white;
    width: 438px;
    z-index: 2;
}

.second__bandeau__firstBlock__title {
    margin: 15px 20px;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 1px 1px #222;
}

.second__bandeau__firstBlock__listArticles__item {
    border-top: 1px solid #e5e5e5;
    width: 438px;
    height: 34px;
    border-top: 1px solid #e5e5e5;
    font-family: TiemposHeadline, Georgia, Times New Roman, Times, serif;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.second__bandeau__firstBlock__listArticles__item>h1 {
    width: 378px;
    height: 36px;
}

.duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    width: 52px;
    height: 18px;
    color: #aaa;
}

.second__bandeau__secondBlock {
    position: relative;
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.second__bandeau__secondBlock>img {
    width: 439px;
    height: 608px;
}

.second__bandeau__secondBlock__title {
    width: 439px;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .9)));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, .9));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .9));
    bottom: 0;
    left: 0;
    line-height: 24px;
    padding-top: 6%;
    position: absolute;
    right: 0;
    z-index: 2;
}

.second__bandeau__secondBlock__title>h1 {
    color: white;
    font-family: SansSerifFont, sans-serif;
    left: 10px;
    margin: 20px 20px 10px;
    font-size: 24px;
}

.second__bandeau__secondBlock__title>p {
    color: #777;
    font-family: SansSerifFont, sans-serif;
    font-size: 13px;
    left: 10px;
    margin: 20px 20px 10px;
}

.second__bandeau__thirdBlock {
    position: relative;
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.second__bandeau__thirdBlock>img {
    width: 439px;
    height: 608px;
}

.additional__information {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 0 1px 1px #222;
}

/*********************************************************************
MAIN
THIRD BANDEAU
ELEVENTH BANDEAU
**********************************************************************/
.bandeau {
    flex: auto;
    display: flex;
    max-width: 1400px;
    padding: 20px 10px 0;
    position: relative;
}

.bandeau__item {
    position: relative;
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.borderRight {
    border-right: 1px solid #ccc;
}

.width33 {
    width: 33.3%;
}

.bandeau__imgblock__title {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .9)));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, .9));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .9));
    bottom: 0;
    left: 0;
    line-height: 24px;
    padding-top: 6%;
    position: absolute;
    right: 0;
    z-index: 2;
    align-content: flex-end;
}

.bandeau__imgblock__title__logo {
    max-width: 32px;
    max-height: 32px;
    margin: 20px 20px 10px;
}

.bandeau__imgblock__title>img {
    width: 439px;
    height: 608px;
}

.bandeau__imgblock__title>h1 {
    color: white;
    font-family: SansSerifFont, sans-serif;
    left: 10px;
    margin: 20px 20px 10px;
    font-size: 24px;
}

.subtitle {
    color: white;
    font-family: SansSerifFont, sans-serif;
    left: 10px;
    margin: 20px 10px 10px;
    font-size: 0.8rem;
}

.date {
    color: #777;
    font-family: SansSerifFont, sans-serif;
    font-size: 13px;
    left: 10px;
    margin: 20px 20px 10px;
}

/*********************************************************************
MAIN
MORE NEWS FOLLOWING
**********************************************************************/
.bandeau__item1 {
    position: relative;
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.bandeau__item1>img {
    width: 438px;
    height: 328px;
}

/*********************************************************************
MAIN
BIG PICTURE
**********************************************************************/
.homePage__bandeau__big__img>img {
    width: 1380px;
    height: 552px;
}

.credits {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-size: 8px;
    line-height: 1.25;
    opacity: 0.6;
    padding: 1px 2px 0px;
    position: absolute;
    right: 10px;
    text-align: right;
    z-index: 10000001;
}

.homePage__bandeau__big__title {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .9)));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, .9));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .9));
    bottom: 0;
    left: 0;
    position: absolute;
    color: white;
    font-family: SansSerifFont, sans-serif;
    left: 10px;
    bottom: 0;
    width: 1380px;
}

.homePage__bandeau__big__title>h1 {
    font-size: 31px;
    margin: 20px 20px 10px;
}

.homePage__bandeau__big__title>p {
    color: #777;
    font-size: 13px;
    margin: 20px 20px 10px;
}

.homePage__bandeau__big__title>ul>li>h2 {
    font-size: 14px;
    margin: 20px 20px 20px;
}

/*********************************************************************
MAIN
EIGHTH BANDEAU
NINTH BANDEAU
**********************************************************************/
.bandeau__item2 {
    position: relative;
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.bandeau__item2>img {
    width: 899px;
    height: 505px;
}

.bandeau__item3 {
    color: white;
    position: relative;
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.bandeau__item3>img {
    width: 439px;
    height: 509px;
}

/*********************************************************************
MAIN
FIFTH BANDEAU ADVERTISEMENT
**********************************************************************/
.pub__img {
    width: auto;
    height: auto;
    margin-bottom: 1%;
}

.pub__title {
    font-size: 18px;
    font-weight: 400;
    font-family: Proxima-Nova, Arial, Helvetica, sans-serif;
    color:#000;
}

.addon {
    display:flex;
    align-items: end;
    justify-content: flex-end;  
    font-size: 12px;
    right: 0px;
}

/*********************************************************************
MAIN
CAROUSEL
**********************************************************************/
.carousel__contener {
    border-top: 1px solid #ccc;
    color: #656565;
}

.carousel {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    justify-content: space-between;
}

.carousel__img {
    width: 100%;
    height: auto;
    margin-bottom: 3%;
}

.carousel__item {
    flex: 0 1 auto;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.carousel__arrow {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgb(136, 125, 125);
    z-index: 1;
    margin-left: 78.5%;
    margin-top: 55px;
}

.carousel__title {
    font-size: 18px;
    font-weight: 300;
    margin: 1rem 0.5rem 1rem 0.5rem;
    font-family: SansSerifFont, sans-serif;
}

.carousel__videoTitle {
    color: #000;
    font-family: TiemposHeadline, Georgia, Times New Roman, Times, serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    text-align: left;
}

/*********************************************************************
FOOTER
**********************************************************************/
footer {
    width: 1400px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position:relative;
}

.footer__top {
    list-style-type: none;
    display: flex;
    width: 1400px;
    margin: auto;
    font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.footer__top__logo {
    align-content: flex-end;
    display: left;
    width: 100%;
    justify-content: space-around;
}

.footer__top__returnTop {
    text-align: right;
    padding: 1rem 0 1rem 0;
    margin-right: 2.9rem;
    font-weight: 700;
    font-size: 12px;
}

.footer__middle {
    border-top: 1px solid #f2f2f2;
    font-size: 20px;
}

.footer__middle__allArray {
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
}

.footer__middle__headingArray>tr>th {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 1.4;
    padding-bottom: 13px;
    text-transform: uppercase;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.footer__middle__bodyArray>tr>td {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 13px;
    width: 25%;
}

.footer__bottom {
    border-top: 1px solid #f2f2f2;
    line-height: 1.75;
}

.footer__bottom__copyright__left {
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    color: #c1c1c1;
    text-decoration: none;
    text-align: left;
    width: 50%;
}

.footer__bottom__copyright__right {
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    color: #c1c1c1;
    text-decoration: none;
    text-align: right;
}